$background-main-color: #140d33;
$text-light-color: #ffffff;
$text-main-color: #e500ec;

//Fonts
$font-2p: "Press Start 2P", cursive;
$font-console: "VT323", monospace;
$font-major-mono: "Major Mono Display", monospace;

$footer-background-color: #c0c0c0;
$footer-right-box-color: #c1bfc2;
