@import "../../atoms/theme/variables";

.taskbar {
  background-color: $footer-background-color;
  border-top: 2px solid rgb(255, 255, 255);
  bottom: 0px;
  color: black;
  height: 34px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.taskbar__inner {
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: 2px;
}
