.startMenu {
  position: absolute;
  z-index: 5;
  border: 2px solid grey;
  box-shadow: 2px 2px 2px #444444;
  background-color: rgb(192, 192, 192);
  bottom: 35px;
  width: 300px;
  height: 430px;
  display: flex;
  &--hidden {
    display: none;
  }
}
