.startMenuItem {
  display: flex;
  padding: 10px;
  width: 100%;
  background-color: rgb(192, 192, 192);
  border: none;
  &:hover {
    background-color: blue;
    color: white;
  }
}

.startMenuItem__image {
  margin-right: 10px;
  width: 30px;
  max-height: 30px;
}

.startMenuItem__text {
  line-height: 30px;
}
